<form action="/submit-answer" method="post">
<div th:each="record, i : ${exam.examRecords}" class="question-block">
    <h3 th:text="|${i.count}번 문제|">i번 문제</h3>

    <!-- 문제 내용 -->
    <p th:text="${record.question.content}">

    </p>


        <input type="hidden" name="recordId" th:value="${record.id}"/>

        <!-- 보기 목록 -->
        <div th:each="choice : ${record.question.choices}">
            <label>
                <input
                        type="radio"
                        th:name="|answer_${record.id}|"
                        th:value="${choice.id}"
                />
                <span th:text="${choice.content}">보기 내용</span>
            </label>
        </div>

        <hr/>
</div>
        <button type="submit">답안 제출</button>


</form>